.card {
  border-radius: 12px;
}

.form-label {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
.card {
  border-radius: 12px;
}

.card-title {
  font-weight: 600;
}
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: none;
}
.navbar-brand {
  letter-spacing: 1px;
}

.navbar .nav-link {
  color: #fff !important;
  transition: all 0.3s ease;
  position: relative;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
}

.navbar .nav-link.active {
  color: #ffc107 !important;
}

/* underline animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}
