.card {
  border-radius: 12px;
}

.form-label {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
.card {
  border-radius: 12px;
}

.card-title {
  font-weight: 600;
}
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: none;
}
.navbar-brand {
  letter-spacing: 1px;
}

.navbar .nav-link {
  color: #fff !important;
  transition: all 0.3s ease;
  position: relative;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
}

.navbar .nav-link.active {
  color: #ffc107 !important;
}

/* underline animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}
.hero-box {
  background: linear-gradient(135deg, #0d6efd, #6610f2);
  padding: 60px 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Title */
.hero-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-title span {
  color: #ffc107;
}

/* Subtitle */
.hero-subtitle {
  font-size: 1.1rem;
  margin-bottom: 20px;
  opacity: 0.95;
}

/* Link Button */
.hero-link {
  display: inline-block;
  padding: 10px 26px;
  background-color: #fff;
  color: #0d6efd;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-link:hover {
  background-color: #ffc107;
  color: #000;
}
